/* Hide all submenus initially */
.main-nav .submenu {
	display: none;
	position: absolute;
	/* Position submenus relative to their parent */
	background-color: #f9f9f9;
	/* Background color for submenu */
	list-style: none;
	/* Remove bullets */
	padding: 10px 0;
	/* Padding around submenu items */
	margin: 0;
	/* Remove default margin */
	border: 1px solid #ddd;
	/* Optional: border for submenu */
}

/* Show the submenu on hover of the parent menu item */
.menu-item:hover>.submenu {
	display: flex;
	margin-top: 105px;
	flex-direction: column;
	flex-wrap: wrap;
}

/* Ensure the submenu aligns properly under the parent menu item */
.menu-item {
	position: relative;
	/* Positioning context for the submenu */
}

/* Style submenu items */
.submenu-item {
	padding: 5px 20px;
	/* Padding inside each submenu item */
	white-space: nowrap;
	/* Prevent submenu text from wrapping */
}

/* Optional: Style submenu items on hover */
.submenu-item:hover {
	background-color: #f0f0f0;
	/* Background color change on hover */
	cursor: pointer;
	/* Cursor change on hover */
}

.d-none {
	display: none !important;
}

.welcome-container {
	position: relative;
    padding-top: 80px;
    padding-bottom: 250px;
    margin-bottom: 20px;
    background-image: url('../images/alf-pattern-image.jpg');
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-text {
	color: #092f57;
	text-align: center;
	font-size: 8rem;
	font-family: 'Apercu Pro',sans-serif;
	font-weight: 600;
    padding: 120px;
}
.welcome-container a.arrow img {
   width: 25px;
}

/* logo css */
header span.navbar-brand-inner img.img-fluid {
    height: 90px;
    width: 250px;
}
.dimensions{
    padding-top:150px;
    margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
    /* Dimension section's text removed by AB */
    #banner .lqd-vslider-menu .lqd-webgl-slideshow-link {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .welcome-text {
        font-size: 4rem;
        padding: 50px;
    }
    p.dimensions {
        font-size: 13px;
    }
}

/*style by AM */
.alfaisal-home{
    position: absolute;
    padding:3px;
    z-index: 99;
}
 
.alfaisal-home .btn{
    padding:5px;
}

.more-btn{
    text-align: end;
}

.more-btn .btn{
    border: none;
}

.t-white{
	color:white !important;
}

/* Header Enroll cropping issue fixed by AM*/
@media screen and (min-width: 1200px) and (max-width: 1500px){
	.main-nav>li>a{
		padding: 10px 5px !important;
	}
}
.theme-color{
	color: #092f57;
}

.f-weight-600{
	font-weight: 600;
}